# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [2]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

df= pd.read_csv('Suicides in India 2001-2012.csv')

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [3]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
# there is no missing data in this dataset

State - 0%
Year - 0%
Type_code - 0%
Type - 0%
Gender - 0%
Age_group - 0%
Total - 0%

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [4]:
df.describe()

# based on checkpoint 2, there are no real outliers and nothing to remove.

                Year          Total
count  237519.000000  237519.000000
mean     2006.500448      55.034477
std         3.452240     792.749038
min      2001.000000       0.000000
25%      2004.000000       0.000000
50%      2007.000000       0.000000
75%      2010.000000       6.000000
max      2012.000000   63343.000000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [6]:

# I am planning to use data across all types, so there is nothing unnecessary to remove at this time.

,State,Year,Type_code,Type,Gender,Age_group,Total
237469,West Bengal,2012,Professional_Profile,Student,Female,45-59,0
237470,West Bengal,2012,Professional_Profile,Unemployed,Female,45-59,0
237471,West Bengal,2012,Professional_Profile,Service (Government),Female,45-59,0
237472,West Bengal,2012,Professional_Profile,Service (Private),Female,45-59,0
237473,West Bengal,2012,Professional_Profile,Professional Activity,Female,45-59,0
237474,West Bengal,2012,Professional_Profile,Public Sector Undertaking,Female,45-59,0
237475,West Bengal,2012,Professional_Profile,Self-employed (Business activity),Female,45-59,0
237476,West Bengal,2012,Professional_Profile,Self-employed (Business activity),Male,45-59,0
237477,West Bengal,2012,Professional_Profile,Unemployed,Male,45-59,0
237478,West Bengal,2012,Professional_Profile,Retired Person,Male,45-59,0
237479,West Bengal,2012,Professional_Profile,Service (Government),Male,45-59,0
237480,West Bengal,2012,Professional_Profile,Professional Activity,Male,45-59,0
237481,West Bengal,2012,Professional_Profile,Others (Please Specify),Male,45-59,0
237482,West Bengal,2012,Professional_Profile,Public Sector Undertaking,Male,45-59,0
237483,West Bengal,2012,Professional_Profile,House Wife,Male,45-59,0
237484,West Bengal,2012,Professional_Profile,Farming/Agriculture Activity,Male,45-59,0
237485,West Bengal,2012,Professional_Profile,Service (Private),Male,45-59,0
237486,West Bengal,2012,Professional_Profile,Student,Male,45-59,0
237487,West Bengal,2012,Professional_Profile,Service (Private),Female,60+,0
237488,West Bengal,2012,Professional_Profile,Retired Person,Female,60+,0
237489,West Bengal,2012,Professional_Profile,Self-employed (Business activity),Female,60+,0
237490,West Bengal,2012,Professional_Profile,Farming/Agriculture Activity,Female,60+,0
237491,West Bengal,2012,Professional_Profile,House Wife,Female,60+,0
237492,West Bengal,2012,Professional_Profile,Professional Activity,Female,60+,0
237493,West Bengal,2012,Professional_Profile,Others (Please Specify),Female,60+,0
237494,West Bengal,2012,Professional_Profile,Public Sector Undertaking,Female,60+,0
237495,West Bengal,2012,Professional_Profile,Unemployed,Female,60+,0
237496,West Bengal,2012,Professional_Profile,Student,Female,60+,0
237497,West Bengal,2012,Professional_Profile,Service (Government),Female,60+,0
237498,West Bengal,2012,Professional_Profile,Public Sector Undertaking,Male,60+,0
237499,West Bengal,2012,Professional_Profile,Self-employed (Business activity),Male,60+,0
237500,West Bengal,2012,Professional_Profile,Retired Person,Male,60+,0
237501,West Bengal,2012,Professional_Profile,Unemployed,Male,60+,0
237502,West Bengal,2012,Professional_Profile,House Wife,Male,60+,0
237503,West Bengal,2012,Professional_Profile,Others (Please Specify),Male,60+,0
237504,West Bengal,2012,Professional_Profile,Farming/Agriculture Activity,Male,60+,0
237505,West Bengal,2012,Professional_Profile,Student,Male,60+,0
237506,West Bengal,2012,Professional_Profile,Service (Private),Male,60+,0
237507,West Bengal,2012,Professional_Profile,Professional Activity,Male,60+,0
237508,West Bengal,2012,Professional_Profile,Service (Government),Male,60+,0
237509,West Bengal,2012,Social_Status,Seperated,Female,0-100+,200
237510,West Bengal,2012,Social_Status,Married,Female,0-100+,3927
237511,West Bengal,2012,Social_Status,Divorcee,Female,0-100+,182
237512,West Bengal,2012,Social_Status,Widowed/Widower,Female,0-100+,455
237513,West Bengal,2012,Social_Status,Never Married,Female,0-100+,1513
237514,West Bengal,2012,Social_Status,Seperated,Male,0-100+,149
237515,West Bengal,2012,Social_Status,Widowed/Widower,Male,0-100+,233
237516,West Bengal,2012,Social_Status,Married,Male,0-100+,5451
237517,West Bengal,2012,Social_Status,Divorcee,Male,0-100+,189
237518,West Bengal,2012,Social_Status,Never Married,Male,0-100+,2658

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [7]:
df.head(20)
# There are not really any inconsistencies in the data

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0
5,A & N Islands,2001,Causes,Family Problems,Female,0-14,0
6,A & N Islands,2001,Causes,Ideological Causes/Hero Worshipping,Female,0-14,0
7,A & N Islands,2001,Causes,Other Prolonged Illness,Female,0-14,0
8,A & N Islands,2001,Causes,Property Dispute,Female,0-14,0
9,A & N Islands,2001,Causes,Fall in Social Reputation,Female,0-14,0
10,A & N Islands,2001,Causes,Illegitimate Pregnancy,Female,0-14,0
11,A & N Islands,2001,Causes,Failure in Examination,Female,0-14,0
12,A & N Islands,2001,Causes,Insanity/Mental Illness,Female,0-14,0
13,A & N Islands,2001,Causes,Love Affairs,Female,0-14,1
14,A & N Islands,2001,Causes,Professional/Career Problem,Female,0-14,0
15,A & N Islands,2001,Causes,Divorce,Female,0-14,0
16,A & N Islands,2001,Causes,Drug Abuse/Addiction,Female,0-14,0
17,A & N Islands,2001,Causes,Not having Children(Barrenness/Impotency,Female,0-14,0
18,A & N Islands,2001,Causes,Causes Not known,Female,0-14,0
19,A & N Islands,2001,Causes,Unemployment,Female,0-14,0

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
-the data set was overall clean and not having missing, outliers, or inconsistant data.
2. Did the process of cleaning your data give you new insights into your dataset?
-no
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
-no